{% extends "encyclopedia/layout.html" %}

{% block title %}
  Edit Page
{% endblock %}

{% block body %}
  <h2>Edit Page: {{ title }}</h2>


  <form action="{% url 'edit' title=title %}" method="post">
    {% csrf_token %}
    <div style="margin-bottom: 15px;">
      <label for="content">Markdown Content:</label><br>
      <textarea name="content" id="content" rows="10" cols="50">{{ content }}</textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a href="{% url 'wiki_entry' title=title %}" class="btn btn-secondary">Cancel</a>
    </form>

{% endblock %}